{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Borsk ", "Grendu ", "Karka ", "Laryn ", "Peshk ", "Polo ", "Tav ", "Tiurrg ", "Stanz", "Fuzzy", "Trask", "Zekka", "Leika", "Illy ", "Tri'byia ", "Proy'skyn ", "Tathak ", "Tosk-tar'ilya", "Moss", "Wachs", "Sihha", "Byalfin", "Kamtis", "Champhra", "Pobos", "Korsin", "Mirt", "Liskran", "Weasy", "Gatrar", "Ceok", "Mak", "Merkur", "Avke", "Tiurrg", "Jaylon", "Akris", "Jib", "Farfalla", "Grendu", "Desark", "Morst", "Breyf", "Oona", "Fadulk", "Narsk", "Fen", "Wire", "Reh'mwa", "Talper", "Yas'tua", "Dorn", "Ch'ord", "Hawj", "Kras'ka", "Toric", "Oneron", "Corl'ya", "Morv'vyal", "Lolo", "Mazzlo"]
    ]
  ]
}
