{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Asyr ", "Kolir ", "Mineth ", "Rasher ", "Yaqeel ", "Trass", "Edie", "Liska ", "Loza", "Tereez", "Sona", "Ellen", "Asyr", "Linay", "Karen", "Shayl", "Jovel", "Tereez", "Bron", "Saiga", "Chiaki", "Maxeena", "Corey", "Sola", "Jural", "Talia", "Fara", "Fenn", "Haskit", "Yaqeel", "Asyr", "Escra", "Glynn-Beti", "Lelsk", "Jennalyn", "Silm'an", "Kiyr"]
    ]
  ]
}
