{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Slask", "Tew", "Aesta", "Glegh", "Atit", "Tlase", "Grusd", "Wete", "Prangi", "Zommo", "Awat", "Eshua", "Purs", "Ocet", "Dammossi", "Sarm", "Ipel", "Regirri", "Sloss", "Atoum", "Rourtatt", "Glutthi", "Elaw", "Grisu", "Pawo", "Imola", "Lecush", "Hig", "Obok", "Tromi", "Rlassa", "Emaw", "Ausho", "Mis", "Tuashi", "Rezusta", "Sog", "Iboaw", "Husko", "Norti", "Soaz", "loneu", "Krosh", "Icuza", "Uortu", "Gingo", "Oguaw", "Mliqheg", "Hliska", "Elot", "Muornazz", "Jenge", "Agune", "Lasda", "Tark", "Ozoz", "Irkirc", "Zren", "Aguw", "Lasur", "Jirti", "Huasu", "Lirtee", "Thrawn", "Vaw", "Ihur", "Ziangirti", "Kror", "Tean", "Aommoma", "Glitth", "Agaur", "Mouging", "Krurra", "Ehushu", "Tiangi", "Trossu", "Rol", "Tlugie", "Zirre", "Epow", "Bungith", "Ges", "Heth", "Vainammi", "Crizz", "Igaesu", "Mitth", "Nuruodo", "Siamme", "Rremu", "Agiani", "Guaga" ]
    ]
  ]
}
