{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Abeacus","Agathocles","Amyntas","Antialcidas","Antimachus","Antimachus","Apollodotus","Apollodotus","Apollophanes","Archebius","Aretas","Aripharnes","Artimedoros","Asander","Auletes","Azes","Clumenus","Demetrius","Diomede","Diophantus","Epander","Epiphanes","Eucratides","Euergetes","Gatalus","Hermaeus","Hippostratos","Lysias","Malichus","Maues","Menander","Menander","Mithridates","Nicator","Obodas","Onuris","Pantaleon","Peukolaos","Pharnaces","Philometor","Philopator","Philoxenus","Ptolemaius","Scopasis","Skilganon","Spaldines","Telephos","Theophilos","Zoilos"]    ]
  ]
}
