{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Agathocleia","Amage","Areta","Asandria","Ashet","Aspasia","Berenice","Charis","Demeter","Elpis","Fauna","Galene","Helioclea","Hersilia","Hestia","Hippolyta","Huldu","Ireni","Irenidora","Isidora","Laelulia","Levana","Lilis","Melitta","Milinda","Myrrine","Neter","Nicias","Nicostrate","NutOra","Panya","Philodora","Philometora","Phythodorida","Polydora","Polyxenia","Portia","Samsi","Shuqailat","Sostrate","Soteira","Strato","Tabua","Terena","Teuta","Theocharis","Thraso","Tomyris","Tryphaena","Zabibe","Zenais","Zenobia","Zoile","Mavia"]    ]
  ]
}
