{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Fandomar ", "Aawala", "Vareesa", "Oora", "Umwaw", "Chandra", "Ioaa", "Iych-thae", "Phontos", "Heltiss", "Slag", "Uublu", "Deneb", "Nu", "Eeksa", "Kaddo", "Amyva", "Visfuu", "Nuuswan", "Torsha", "Soshu", "Hoolar", "Vannotte", "Fren", "Haali"]
    ]
  ]
}
