{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Nok", "Herf", "Roogak", "Momaw", "Omow", "Oosea", "Sprool", "Dorthu", "Gozubb", "Yatter", "Pwwoz", "Jawiin", "Vanster", "Dorin", "Aarrom", "Denuab", "Odimas", "Lowban", "Tiethiagg", "Gammit", "Mowan", "Veer", "Plu", "Disch'l", "Delrice", "Breac", "Dob", "Del", "Ooamu", "Zorneth", "Jerru", "Draknus", "Taamab ", "Ben", "Lasavvou", "Rance", "Regga", "Tredo", "Noga-ta", "Guerglenar", "Drov", "Tolad", "I'klee'trao", "Snaplaunce", "Kaarl", "Oecax", "Andar", "Clento", "Yuka", "Fissol", "Ire", "Omwaan", "Mellaw", "Byd", "Foj", "Tomla", "Wallaw", "Koracem", "Relal", "Marg", "Whuvumm", "Do-Forow", "Jhaffus", "Kikow", "Balunta", "Ysho", "Boma", "Ezam", "Robin"]
    ]
  ]
}
