{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Abby","Allie","Angel","Annie","Athena","Baby","Bailey","Bella","Belle","Bonnie","Brandy","Cali","Callie","Casey","Charlie","Chloe","Cleo","Coco","Cocoa","Cookie","Daisy","Dakota","Dixie","Ella","Ellie","Emma","Gigi","Ginger","Grace","Gracie","Hannah","Harley","Hazel","Heidi","Holly","Honey","Izzy","Jasmine","Josie","Katie","Kona","Lacey","Lady","Layla","Lexi","Lexie","Lilly","Lily","Lola","Lucky","Lucy","Lulu","Luna","Macy","Maddie","Madison","Maggie","Marley","Maya","Mia","Millie","Mimi","Minnie","Missy","Misty","Mocha","Molly","Nala","Nikki","Olive","Peanut","Pebbles","Penny","Pepper","Phoebe","Piper","Princess","Riley","Rosie","Roxie","Roxy","Ruby","Sadie","Sally","Sandy","Sasha","Sassy","Scout","Shadow","Shelby","Sierra","Sophie","Stella","Sugar","Sydney","Trixie","Willow","Winnie","Zoe","Zoey"]
    ]
  ]
}
