{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Neela", "Malak", "Renna", "Beebo", "Huruni", "Nesha", "Cevva", "Yalka", "Taneetch", "Nardi", "Zukata", "Ruku", "Kesha", "Besha", "Norith", "Vadon", "Iluna", "Roweedu", "Suz", "Ralia", "Rosey", "Otee", "H'rinnrada", "Geeda", "Laneet", "Jeeta", "Sando", "Zindra", "Liinu", "Fask", "Kiimo", "Sathme", "Neeka", "Sinoca", "Kiizete", "Hedu", "Entukan", "Kolka", "Cyll", "Feena", "Andoorni", "Milesk", "Neela", "Mahtee"]
    ]
  ]
}
