{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Greedo", "Kaddit", "Ne'Chak", "Nok", "Pqweeduk", "Rosii", "Skee", "Thuku", "Kolvin", "Whool", "Skee", "Beidlo", "Jannik", "Malik", "Rolan", "Grappa", "Sliver", "Vix", "Twitch", "Twool", "Nok", "Kelko", "Bohmer", "Michael", "Veedo", "Govenni", "Chiiv", "Teeko", "Valorn", "Treemo", "Rodd", "Teguar", "Bludlow", "Lurze", "Zyk-yadoon", "Bonda", "Esdo", "Opato", "Pardo", "Daetan", "Nikolo", "Xeelo", "Althin", "Angaar", "Tershan", "Geelo", "Ruris"]
    ]
  ]
}
