{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Samara","Bensyn","Cytharat","Chaskar","Cherkolotar","Silas","Yun'weah","Xiang","Yshaar","Kael","Taliav","Engdo","Dramath","Doruk","Dor","Los","Dilaatuem","Xynso","Davorak","Dakhan","Shar","Gal-ram","Fa'ann","Naga","Sadow","Sathel","Saveel","Yacommsa"]
    ]
  ]
}
