{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Achitan","Ahsoka","Alie","Ashara","Ashla","Audila","Deran","Ellin","Kasumi","Kaveri","Lah","Mafeen","Maya","Mazlin","Nalual","Niriian","Nys","Palla","Phaa","Ra","Raana","Reb","Ren","Shaak","Sheel","Shi-Fara","Sumalee","Synoda","Tamm","Tano","Tey","Ti","Vaash","Vashee","Yanila","Yelto","Zaa","Zavros","B'Asia","Biss ","Kalda","Garom","Bourke","Carshotta","Dan","Dar'Nala","Hellena","Karls","Bela","Kiwiiks","Auxi","Kray","Korbin","Tama"]
 ]
  ]
}
