{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Tuktee","Codi","Ti","Zavros","Rolend","Kalatosh","Asher","Womprat","Vashee","Lodish","Mafeen","Meldo","Mazlin","Roshti","Skohani","Ren","Juran","Reb","Ra","Phaa","Torha","Nys","Ralon","Nalual","Tano","Tey","Tamm","Selda","Samuk","Ellin","Biss","Brom","Garom","Galway","Bourke","Buryn","Asaak","Dan","Dynaroth","Karls","Jordan","Kiwiiks","Kray Korbin","Koru","Tama"]
    ]
  ]
}
