{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Baik Takdirc", "K'Ren Trek", "Q'Sler Virrag", "Bonark Zrarq", "Qenvee Srekdark", "Rgrur'okurs", "Ururur'ukrur", "Rgorrur'orurr", "Kgr'otrurs'ruk", "Orrh'krrur'rtor", "Ror'rurs'rour", "Gr'Yaar Sreqeq", "K'Bi Brikt", "Slar Brordiqt", "A'Chonnerk Qrork", "Slaman Sutekt", "Ogh'rur", "Cark Tordot", "Buq Zect", "Sig Titet", "R'Slucreeq Qut", "Tukno Yuzharr", "Ggrror'ururs", "Rgorrur'urruk", "Gkor'ukrurs", "Rog'rruur'rk", "Urur'rrur'kthr", "Kkr'kkrur", "Kuorur'tlurr'rur", "A'Var Rhekhir", "Q'Kik Srugg", "R'Yur Qazdorr", "H'Zamreeq Rhark", "H'Ralraid Crenvirk", "Rug'rours", "Rkrurr'rruur", "Kgorur'rourr", "Rgrh'tlruur'rar", "Krrur'okruur'rk"]
    ]
  ]
}
