{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Vegh", "Girer", "Gim", "Thig", "Gem", "Brukran", "Zaag", "Zork", "Reern Zrinok", "Qekzu", "Rirc", "Takka", "Srartact", "Qirte", "Brut", "Zeqri", "Lakord", "Radu", "Yard", "Khec", "Tikrect", "K'Hogh", "Qin", "Ch'Khin", "Zakron", "Cheem", "Trorr", "Shen", "Biknuc", "Lada", "Rhut", "Heirto", "Bokdag", "Hikha", "Zrarr", "Vuqa", "Krorard", "Lakho", "Cract"]
 ]
  ]
}
