{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Anoon", "Bib", "Boc", "Cham", "Connus", "Deesra", "Firith", "Guun", "Jek", "Kandon", "Kelad'den", "Kh'aris", "Lon", "Lonay", "Nat", "Nawara", "Newar", "Nilim", "Orn", "Norcuna", "Pol", "Ruyn", "Shado", "Tal'dira", "Tardon", "Tol", "Tott"]
    ]
  ]
}
