{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Aay", "Aayla", "Alema", "Alora", "Ann ", "Astraal ", "B'ink", "Daeshara'cor", "Dai", "Desha", "Dia", "Dren", "Eela", "Fa'ale", "Femi", "Genne", "Koya", "Koyi", "Laranth", "Lunae ", "Memah", "Nima'tar", "Nolaa", "Numa", "Oola", "Rianna", "Yuthura", "Xiaan", "Vette", "Vokara", "Talon", "Sinya", "Seddwia"]
    ]
  ]
}
