{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Senin","Vant","Utapau","Persoro","Taktos","Unistros","Flauss","Barbilly","Chem","Lampay","Fay","Torul","Blom","Zyn","Javeb","Jen","June","Lar","Le'Ung","Telan","Medon","Timon","Tion" ]
    ]
  ]
}
