{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Anarra","Attiera","Dariana","Delinna","Dewlanna","Dewlannamapia","Enacca","Froera","Frorral","Hrrgn","Ildisa","Imarrra","Jiprirr","Jowdrrl","Kallabow","Katarra","Kirratha","Lohgarra","Malla","Mallatobuck","Nardakka","Nawika","Orrsa","Ovarra","Perusta","Raaba","Raabakyysh","Rawarok","Renarra","Risstenni","Roshyk","Rowrrhaffee","Rroorgli","Rroow","Ruhr","Shrandhnrignh","Sirrakuk","Spetbecca","Stalpaac","Sunchoo","Syychi","Tebeurra","Tirranna","Ulucca","Urartu","Whyrrryk","Wurrooba","Wynni","Yarua","Yawrocca","Zherriak","Zittaasabba","Huhunna","Hwruarca","Colara","Furellas","Beruga","Brahtikka","Athnalu","Gorrlyn","Gchalla "]
    ]
  ]
}
