{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Avax","Anstiss ","Anniya ","Alvania ","Alitra ","Bulga ","Co'overma ","Fryoto ","Garan ","Gith ","Hallen ","Hele ","Heljus ","Idonia","Jorelle ","Jorgellansel ","Keikodi ","Kin'ade ","Korventine","Krosh","Lin","Mai","Nelinik","Porgryn","Qista","Raimu ","Ren'Salla ","Roth","Tystel","Sugi","Suz-Anz ","Yevra","Yondalla","Yougga","Zo'ssa"]
    ]
  ]
}
