{
  "sithquest1" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Youngling Temple",
    "message" : "\n\nAre you ready to teleport to the Youngling Temple?",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/quests/npc/zabraksith.png"} ]
    },
    "labels" : {
      "name" : "Zabrak Sith"
    }
  }
}
