{
  

  "basicmerchant" : [
    [0, [
      { "item" : { "name" : "SWMbactabottle" }, "rarity" : 0.3 },
      { "item" : { "name" : "SWMglowrod" }, "rarity" : 0.3 }
    ]]
    ],

 
  "swchef" : [
    [0, [
      { "item" : { "name" : "SWMaddermoss" } },
      { "item" : { "name" : "SWMahrisa" } },
      { "item" : { "name" : "SWMaircake" } },
      { "item" : { "name" : "SWMbfgumbo" } },
      { "item" : { "name" : "SWMblobcandy" } },
      { "item" : { "name" : "SWMbloodsoup" } },
      { "item" : { "name" : "SWMcrispic" } },
      { "item" : { "name" : "SWMdarkcookie" } },
      { "item" : { "name" : "SWMdianogapie" } },
	  { "item" : { "name" : "SWMhubba" } }
    ]],
    [1.9, [
      
      { "item" : { "name" : "SWMkwevvu" } },
      { "item" : { "name" : "SWMneuvian" } },
      { "item" : { "name" : "SWMnutricake" } },
      { "item" : { "name" : "SWMsandcookie" } },
      { "item" : { "name" : "SWMsquirmer" } },
      { "item" : { "name" : "SWMtreebread" } },
      { "item" : { "name" : "SWMtrimpian" } },
      { "item" : { "name" : "SWMvagnerian" } },
      { "item" : { "name" : "SWMvegeparsine" } },
      { "item" : { "name" : "SWMaccarrgm" } },
      { "item" : { "name" : "SWMaddermoss" } },
      { "item" : { "name" : "SWMahrisa" } },
      { "item" : { "name" : "SWMaircake" } },
      { "item" : { "name" : "SWMbfgumbo" } },
      { "item" : { "name" : "SWMblobcandy" } },
      { "item" : { "name" : "SWMbloodsoup" } },
      { "item" : { "name" : "SWMcrispic" } },
      { "item" : { "name" : "SWMdarkcookie" } },
      { "item" : { "name" : "SWMdianogapie" } },
      { "item" : { "name" : "SWMhubba" } }
    ]]
  ],
  
  "swcantina" : [
    [0, [
      { "item" : { "name" : "SWMaccarrgm" } },
      { "item" : { "name" : "SWMbanthablaster" } },
     { "item" : { "name" : "SWMfishak" } },
      { "item" : { "name" : "SWMgarrmorl" } },
	   { "item" : { "name" : "SWMksaa" } },
      { "item" : { "name" : "SWMmist" } },
      { "item" : { "name" : "SWMquill" } },
      { "item" : { "name" : "SWMtarinetea" } },
      { "item" : { "name" : "SWMaccarrgm" } },
      { "item" : { "name" : "SWMbanthablaster" } },
      { "item" : { "name" : "SWMfishak" } },
      { "item" : { "name" : "SWMgarrmorl" } }
     
    ]]    
  ],


"swweapons" : [
    [0, [
      { "item" : { "name" : "SWMgaderffiiT1" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMneuroticwhipT1" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMstungloveT1" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcepikeT1" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMz6batonT1" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMbowcasterT1" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMdl44T1" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMdxr6T1" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMe11T1" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMf11dT1" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMfc1T1" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMtl50T1" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMtuskancyclerT1" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMwristrocketT1" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMzxT1" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMcyrogrenade" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMiongrenade" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMprotongrenade" }, "rarity" : 0.04 }
    ]],
    [1.9, [
       { "item" : { "name" : "SWMgaderffiiT2" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMneuroticwhipT2" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMstungloveT2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcepikeT2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMz6batonT2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMbowcasterT2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMdl44T2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMdxr6T2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMe11T2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMf11dT2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMfc1T2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMtl50T2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMtuskancyclerT2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMwristrocketT2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMzxT2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMcyrogrenade" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMiongrenade" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMprotongrenade" }, "rarity" : 0.04 }
    ]],
    [2.9, [
      { "item" : { "name" : "SWMshrieker" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMgaderffiiT3" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMneuroticwhipT3" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMstungloveT3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcepikeT3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMz6batonT3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMbowcasterT3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMdl44T3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMdxr6T3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMe11T3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMf11dT3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMfc1T3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMtl50T3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMtuskancyclerT3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMwristrocketT3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMzxT3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMcyrogrenade" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMiongrenade" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMprotongrenade" }, "rarity" : 0.04 }
    ]],
    [3.9, [
      { "item" : { "name" : "SWMdeathblade" }, "rarity" : 0.01 },
      { "item" : { "name" : "SWMgaderffiiT4" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMneuroticwhipT4" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMstungloveT4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcepikeT4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMz6batonT4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMbowcasterT4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMdl44T4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMdxr6T4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMe11T4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMf11dT4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMfc1T4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMtl50T4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMtuskancyclerT4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMwristrocketT4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMzxT4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMcyrogrenade" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMiongrenade" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMprotongrenade" }, "rarity" : 0.04 }
    ]],
    [4.9, [
      { "item" : { "name" : "SWMsawstaff" }, "rarity" : 0.01 },
      { "item" : { "name" : "SWMrazorstick" }, "rarity" : 0.01 },
      { "item" : { "name" : "SWMgaderffiiT5" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMneuroticwhipT5" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMstungloveT5" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcepikeT5" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMz6batonT5" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMbowcasterT5" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMdl44T5" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMdxr6T5" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMe11T5" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMf11dT5" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMfc1T5" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMtl50T5" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMtuskancyclerT5" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMwristrocketT5" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMzxT5" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMcyrogrenade" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMiongrenade" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMprotongrenade" }, "rarity" : 0.04 }
    ]],
    [5.9, [
      { "item" : { "name" : "SWMbaccablade" }, "rarity" : 0.01 },
      { "item" : { "name" : "SWMbobablaster" }, "rarity" : 0.01 },
      { "item" : { "name" : "SWMgaderffiiT6" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMneuroticwhipT6" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMstungloveT6" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcepikeT6" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMz6batonT6" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMbowcasterT6" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMdl44T6" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMdxr6T6" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMe11T6" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMf11dT6" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMfc1T6" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMtl50T6" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMtuskancyclerT6" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMwristrocketT6" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMzxT6" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMcyrogrenade" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMiongrenade" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMprotongrenade" }, "rarity" : 0.04 }
    ]]
  ],
 
 "swforcepowers" : [
    [0, [
      { "item" : { "name" : "SWMforcebreath" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforcegrip" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforceheal" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcelightning" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcemanipulation" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcepush" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforceshield" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcespeed" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcetapas" }, "rarity" : 0.04 }
    ]],
    [1.9, [
       { "item" : { "name" : "SWMforcebreath" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforcegripT2" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforceheal" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcelightningT2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcemanipulation" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcepushT2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforceshieldT2" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcespeed" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcetapas" }, "rarity" : 0.04 }
    ]],
    [2.9, [
      { "item" : { "name" : "SWMforcebreath" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforcegripT3" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforceheal" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforcelightningT3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcemanipulation" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcepushT3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforceshieldT3" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcespeed" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcetapas" }, "rarity" : 0.04 }
    ]],
    [3.9, [
      { "item" : { "name" : "SWMforcebreath" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforcegripT4" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforceheal" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforcelightningT4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcemanipulation" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcepushT4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforceshieldT4" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcespeed" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcetapas" }, "rarity" : 0.04 }
    ]],
    [4.9, [
      { "item" : { "name" : "SWMforcebreath" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforcegripT5" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforceheal" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforcelightningT5" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforcemanipulation" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcepushT5" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforceshieldT5" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcespeed" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcetapas" }, "rarity" : 0.04 }
    ]],
    [5.9, [
      { "item" : { "name" : "SWMforcebreath" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforcegripT6" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforceheal" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforcelightningT6" }, "rarity" : 0.04 },
      { "item" : { "name" : "SWMforcemanipulation" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcepushT6" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforceshieldT6" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcespeed" }, "rarity" : 0.04 },
	  { "item" : { "name" : "SWMforcetapas" }, "rarity" : 0.04 }
    ]]
  ],
  
  "swinstruments" : [
    [0, [
      { "item" : { "name" : "accordion" }},
      { "item" : { "name" : "acousticguitar" }},
      { "item" : { "name" : "banjo" }},
      { "item" : { "name" : "bassguitar" }},
      { "item" : { "name" : "bones" }},
      { "item" : { "name" : "clarinet" }},
      { "item" : { "name" : "drumkit" }},
      { "item" : { "name" : "dulcimer" }},
      { "item" : { "name" : "electricbass" }},
      { "item" : { "name" : "flute" }},
      { "item" : { "name" : "harmonica" }},
      { "item" : { "name" : "harp" }},
      { "item" : { "name" : "koto" }},
      { "item" : { "name" : "leadguitar" }},
      { "item" : { "name" : "microphone" }},
      { "item" : { "name" : "microphonefem" }},
      { "item" : { "name" : "musicbox" }},
      { "item" : { "name" : "nylonguitar" }},
      { "item" : { "name" : "oboe" }},
      { "item" : { "name" : "ocarina" }},
      { "item" : { "name" : "overdriveguitar" }},
      { "item" : { "name" : "piano" }},
      { "item" : { "name" : "reedorgan" }},
      { "item" : { "name" : "rockorgan" }},
      { "item" : { "name" : "saxophone" }},
      { "item" : { "name" : "steeldrum" }},
      { "item" : { "name" : "trumpet" }},
      { "item" : { "name" : "violin" }},
	  { "item" : { "name" : "SWMhallikset" }},
      { "item" : { "name" : "SWMbandfill" }},
      { "item" : { "name" : "SWMbawoonka" }},
      { "item" : { "name" : "SWMblissl" }},
      { "item" : { "name" : "SWMdoubleviol" }},
      { "item" : { "name" : "SWMfanfar" }},
      { "item" : { "name" : "SWMfloonorp" }},
      { "item" : { "name" : "SWMkastadrum" }},
      { "item" : { "name" : "SWMsabriquet" }},
      { "item" : { "name" : "SWMmandolin" }},
      { "item" : { "name" : "SWMsacredhorn" }},
      { "item" : { "name" : "SWMserptrumpet" }},
      { "item" : { "name" : "SWMslitherhorn" }},
      { "item" : { "name" : "SWMtraz" }},
      { "item" : { "name" : "SWMvalahorn" }},
      { "item" : { "name" : "SWMwinddrum" }},
      { "item" : { "name" : "SWMxantha" }}
    ]]
  ]
}
